/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body{
    font-family: 'fredoka', 'Arial';
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    color: #E53170;
    text-align: center;
    margin: 30px 30px;
}

img{
    height: 100px;
    padding-right: 5px ;
}

a{
    text-decoration: none;
    color: #4AC1E3;
    display: block;
}

.description{
    text-align: center;
}

/* CARDS LAYOUT */

.cards img{
    float: left;
}

.cards{
    background-color: black;
    color: white;
    float: left;
    width: calc(100% / 3 - 10px);
    margin: 5px;
}

.info{
    padding-top: 15px;
    display: block;
}

.row{
    padding: 10px;
    margin-top: 20px;
}